body {
    margin: 10px;
}

section.title_screen{
    background-color: gold;
}

.title_top {
    font-size: 140%;
    display: block;

}

::selection {
    background-color: #ffc0cb;
}

.background_image { 
    background-color: rgba(9, 5, 19, .65);
}

/* Trialing a gradient design for the Boundary between
    title and about me content 
    Use https://cssgradient.io/ to generate a good one*/ 
.cool_graphic {
    text-align: center;
    background: linear-gradient(32deg, rgba(202,248,249,1) 0%, rgba(255,192,203,1) 100%);
}